{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/npm",
    [
      "@semantic-release/git",
      {
        "assets": [
          "dist/**",
          "CHANGELOG.md",
          "package.json",
          "package-lock.json"
        ]
      }
    ],
    "semantic-release-major-tag",
    "@semantic-release/github"
  ]
}
